target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA and VsCode ###
.vscode/
.idea/
*.iml
*.ipr
*.iws

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Build directories ###
build/

### VS Code ###
.vscode/

### macOS ###
.DS_Store

# Project-local native/tool downloads
tools/spot
tools/maven
tools/graphviz

# Generated Images

output/automaton/*
